.newsletter {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-size: 36px;
    text-transform: uppercase;
}

.subtitulo {
    font-size: 24px;
}

.inpEmail {
    margin: 20px 0px;
    width: 25%;
    font-size: 16px;
}

.btn {
    width: 25%;
    background: #A3CB7D;
    color: white;
    border-radius: 0%;
    font-size: 16px;
}

input::placeholder {
    margin-left: 10px;
}