<header>
    <nav>
        <div class="row">
            <div class="col-12">
                <ul class="primerNavbar">
                    <li>
                        <i class="fa fa-user mr-2" aria-hidden="true"></i>
                        <span>Log In</span>
                    </li>
                    <li>
                        <span>
                          FREE SHIPPING
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="segundoNavBar">
                    <li routerLink="">Walmart</li>
                    <li>
                        Productos
                        <ul>
                            <li routerLink="smartphone">Smartphones</li>
                            <li routerLink="lineaBlanca">Linea Blanca</li>
                            <li routerLink="fotografia">Fotografia</li>
                        </ul>
                    </li>
                    <li routerLink="customCare">Custom Care</li>
                    <li routerLink="visitUs">Visit Us</li>
                </ul>
            </div>
        </div>
    </nav>
</header>